html {
	background-color: rgb(216, 216, 216);
}

.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	align-items: center;
}
.logo-container {
	padding: 0px;
	margin: 0px;
}

.logo {
	padding: 0px;
	margin: 0px;
	width: 10em;
}

.nav-items > ul {
	display: flex;
	font-size: 20px;
}

.nav-items > ul > li {
	padding: 1em;
	list-style: none;
}

.res-card {
	margin: 5px;
	width: 15em;
	padding: 10px;
}

.res-card:hover {
	cursor: pointer;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgb(130, 83, 83);
}
.res-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #9f7d7d;
}

.search {
	border: 1px solid black;
	padding: 10px;
}

.filter-btn {
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; /* Optionally center vertically */
	min-height: 100vh; /* Makes sure it takes up full viewport height */
	background-color: #f9f9f9;
}

.res-logo {
	width: 100%;
}

.res-card > .info {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.info > .name {
	padding: 0px;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.info span:nth-last-child(-n + 3) {
	font-size: 18px;
	padding: 4px;
}
