html,
body {
	background-color: rgb(216, 216, 216);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	align-items: center;
}
.logo-container {
	padding: 0px;
	margin: 0px;
}

.logo {
	padding: 0px;
	margin: 0px;
	width: 10em;
}

.nav-items > ul {
	cursor: pointer;
	display: flex;
	font-size: 20px;
	gap: 10px;
}

.nav-items > ul > li {
	padding: 1em;
	list-style: none;
}

.res-card {
	margin: 5px;
	width: 15em;
	padding: 10px;
}

.res-card:hover {
	cursor: pointer;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgb(130, 83, 83);
}
.res-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	gap: 20px;
	background-color: #9f7d7d;
}

.search {
	border: 1px solid black;
	padding: 10px;
}

.filter {
	position: fixed;
	top: 140;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1000;
	background-color: #333;
	color: white;
	padding: 10px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filter-btn {
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

.body {
	padding-top: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f9f9f9;
}

.res-logo {
	width: 100%;
}

.res-card > .info {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.info > .name {
	padding: 0px;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.info span:nth-last-child(-n + 3) {
	font-size: 18px;
	padding: 4px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #333;
	color: white;
	padding: 10px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shimmer-container {
	padding-top: 220px;
	display: flex;
}

.shimmer-card {
	width: 240em;
	height: 472px;
	margin: 5px;
	padding: 10px;
	background-color: rgb(148, 135, 135);
}

.login-btn {
	padding: 0px 20px;
	margin: 10px;
}

.search {
	border: 0;
}
